* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-weight: 500;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 55px 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}


ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

li img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    background-color: skyblue;
    justify-content: center;
}

form div {
    display: flex;
    flex-direction: column;
}

input {
    padding: 0.5rem;
}

button {
    padding: 0.5rem;
    background-color: rgb(94, 29, 163);
    color: white;
    border: none;
}

button:hover {
    background-color: rgb(114, 49, 185);
}